.about {

    display: flex;
    justify-content: center;
    align-items: center;

}

.about-container {

    margin-top: 5%;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    padding: 15px;
    display: flex;
    line-height: 1.6;
        
}

.about-left-column {

    width: 100%;
    position: relative;

}

.about-right-column {

    width: 100%;
    margin-top: 60px;

}

.about-left-column img {

    width: 50%;
    position: absolute;
    left: 40%

}

.knocks {

    margin-top: 25%;

}

@media all and (max-device-width: 600px), (max-width: 600px) {

    .about-container {
        flex-direction: column-reverse;
    }
    
    .about-left-column {
        width: 100%;
        position: relative;
    }

    .about-right-column {
        width: 100%;
        margin-top: 0;
    }

    .about-left-column img {
        width: 100%;
        position: relative;
        left: 0;
        top: 0;
    }

    .knocks {

        display: none;

    }

}