.card {
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 5px;
  text-align: center;
  font-family: arial;
  display: inline-block;

}

.card:hover{

  background: #EDEADE;

}

.price {

  color: grey;
  font-size: 22px;

}

.card a {
    
  color: inherit;
  text-decoration: none;

}
